<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
<body>
  <%#####   Logo Segment   ####%>
  <div class="logo-container">
    <img id="logo" src="https://res.cloudinary.com/dtb6lx1s4/image/upload/v1587415416/red_logo_olyww3.png" alt="heather-olsen-art-logo" />
  </div>
	
	<br />
	<br />

	<%#####   Receipt Segment   ####%>
  <div class="header-container">
    <div class="header">
      <h3>Your Receipt</h3>
      <h5>May 01, 2020, 12:00 PM</h5>
    </div>
  </div>
	
  <div class="header">
    <p>Invoice Number: #234221</p>
  </div>

  <br />
  <br />
	
<%#####   Table Segment   ####%>
  <div>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>QTY</th>
          <th>Item Price</th>
          <th>Total</th>						
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <img src="https://res.cloudinary.com/dkrn2wmhn/image/upload/c_scale,w_1100/v1585776575/Charaxes%20Candiope.jpg" class="img-thumbnail" />
            Butterfly 1
          </td>
          <td>1</td>
          <td>$50.00</td>
          <td>$50.00</td>
        </tr>

        <tr>
          <td>
            <img src="https://res.cloudinary.com/dkrn2wmhn/image/upload/c_scale,w_1100/v1558072199/Yellow%20Swallowtail.jpg" class="img-thumbnail" />
            Butterfly 2
          </td>
          <td>1</td>
          <td>$50.00</td>
          <td>$50.00</td>	
        </tr>					
      </tbody>
    </table>
    <div class="total">
      <span>Total $15.00
    <div>
    <div class="total">
      <span>Total $115.00
    <div>
  </div>

  <div class="address-container">
			<div>
				<p>Billing Address</p>
				<p>Hugh Peppercorn</p>
				<p>1212 Cool Way</p>
				<p>Riverton, UT 84065</p>				
			</div>
			<div>
				<p>Shipping Address</p>
				<p>Hugh Peppercorn</p>
				<p>1212 Cool Way</p>
				<p>Riverton, UT 84065</p>				
			</div>		
		</div>
					
		<div class="intructions">
			<span>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam egestas, purus sit amet mollis ultrices, leo ipsum facilisis sem, volutpat sagittis mi ligula id quam. Donec vitae mattis felis. Duis at quam interdum lectus pellentesque feugiat non ac dui. Vivamus sit amet eros ante. Nullam volutpat blandit velit ultricies tempor. Ut quis lacus quis nibh mattis pellentesque eget sit amet lorem. Donec vitae est quis ante egestas posuere. Phasellus quam mi, consequat in hendrerit non, vehicula sed libero. Interdum et malesuada fames ac ante ipsum primis in faucibus. In leo massa, sollicitudin nec dapibus at, pretium quis nibh. Sed magna urna, rutrum vel aliquam et, consectetur vitae lorem. Aenean mattis orci felis, eget pellentesque neque rhoncus et. In et erat turpis. Etiam eu sem sit amet metus suscipit viverra.</p>
				<p>Cras blandit consectetur sapien, a pharetra orci tincidunt eget. Ut semper nisi dictum turpis gravida, et blandit orci ultrices. Phasellus ac nisl pharetra, iaculis elit non, placerat ligula. Maecenas laoreet erat sed dui condimentum facilisis. Integer finibus massa a odio vehicula, posuere rhoncus nulla commodo. Pellentesque eget tristique turpis. Praesent a vulputate dui. Nullam consectetur mi non sem eleifend varius. Curabitur mattis tincidunt sagittis. Aenean vestibulum eget mauris in posuere. Fusce vitae accumsan nisi. Maecenas vulputate elementum sollicitudin. Aliquam erat volutpat. Curabitur ut lectus at purus placerat bibendum. Vivamus luctus elementum mi, quis iaculis turpis rhoncus vitae. Nullam ligula neque, accumsan id posuere at, lacinia non justo.</p>
		</div>

</body>
</html>
