.alert {
  padding: 15px;
  margin-bottom: 20px !important;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

/* TODO: move to own file or find way to inline it */
div.three.wide.column {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}

.ui.modal {
  /* makes background color about the same as the dimmed background */
  /* background: rgba(35, 35, 35, 0.5) !important; */
  background-image: url('http://res.cloudinary.com/dkrn2wmhn/image/upload/v1512405509/trans_img_ai4mc2.png') !important;
  background: transparent url('http://res.cloudinary.com/dkrn2wmhn/image/upload/v1512405509/trans_img_ai4mc2.png') repeat center top !important;
}

i.icon.sidebar:before {
  margin-left: 20px;
}

.pushable>.pusher:after {
  background-color: rgba(0, 0, 0, 0.55) !important;
}