/* TODO: move to own file or find way to inline it */
div.three.wide.column {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}

i.icon.sidebar:before {
  margin-left: 20px;
}

.pushable>.pusher:after {
  background-color: rgba(0, 0, 0, 0.55) !important;
}

input {
  font-size: 1.3rem !important;
}
